<div class="hero">
  <video autoplay loop muted plays-inline class="back-video">
    <source src="../../../assets/images/video.mp4" type="video/mp4" />
  </video>
  <nav class="cursor-pointer">
    <img class="logo" src="../../../assets/images/logo.png" alt="" />
    <ul>
      <li>HOME</li>
      <li>BEACHES</li>
      <li>POPULAR PLACES</li>
      <li>CONTACT US</li>
    </ul>
  </nav>
  <div class="content">
    <h1>California</h1>
    <a href="">Explore</a>
  </div>
</div>

<div class="section1 flex justify-between gap-2">
  <div class="activities grid grid-cols-2">
    <div>
        <h3>Activities</h3>
        <p>A small river named Duden flows by their place and supplies it with the necessary</p>
    </div> 
    <div>
        <h3>Activities</h3>
        <p>A small river named Duden flows by their place and supplies it with the necessary</p>
    </div>
    <div>
        <h3>Activities</h3>
        <p>A small river named Duden flows by their place and supplies it with the necessary</p>
    </div>
    <div>
        <h3>Activities</h3>
        <p>A small river named Duden flows by their place and supplies it with the necessary</p>
    </div>
  </div>
  <div class="time w-5/12">
    <h2>It's time to start your adventure</h2>
    <p>
      A small river named Duden flows by their place and supplies it with the
      necessary regelialia. It is a paradisematic country, in which roasted
      parts of sentences fly into your mouth. 
    </p>
    <p>Far far away, behind the word
        mountains, far from the countries Vokalia and Consonantia, there live the
        blind texts. Separated they live in Bookmarksgrove right at the coast of
        the Semantics, a large language ocean. A small river named Duden flows by
        their place and supplies it with the necessary regelialia.</p>
  </div>
</div>

<div class="section2">
    <div class="grid grid-cols-2">
        <img class="object-contain w-full" src="../../../assets/images/img1.webp" alt="">
        <div>
            <h2>Make Your Tour Memorable and Safe With Us</h2>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
            <div class="grid grid-cols-3">
                <div>
                    <h2>300</h2>
                    <p>Successful Tours</p>
                </div>
                <div>
                    <h2>24300</h2>
                    <p>Happy Tourist</p>
                </div>
                <div>
                    <h2>200</h2>
                    <p>Place Explored</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section3">
    <h2>Best Place Destination</h2>
    <div class="grid grid-cols-4 ">
        <img class="object-cover w-full h-full" src="../.././../assets/images/img1.webp" alt="">
        <img class="object-cover w-full h-full" src="../.././../assets/images/img2.webp" alt="">
        <img class="object-cover w-full h-full" src="../.././../assets/images/img3.webp" alt="">
        <img class="object-cover w-full h-full" src="../.././../assets/images/dest1.webp" alt="">
    </div>
</div>

<div class="section4">
    <h2>Tour Destination</h2>
    <div class="grid grid-cols-3 gap-8">
        <div class="card w-96 bg-base-100 shadow-xl">
            <figure><img src="https://placeimg.com/400/225/arch" alt="Shoes" /></figure>
            <div class="card-body">
              <h2 class="card-title">
                Shoes!
                <div class="badge badge-secondary">NEW</div>
              </h2>
              <p>If a dog chews shoes whose shoes does he choose?</p>
              <div class="card-actions justify-end">
                <div class="badge badge-outline">Fashion</div> 
                <div class="badge badge-outline">Products</div>
              </div>
            </div>
          </div>
          <div class="card w-96 bg-base-100 shadow-xl">
            <figure><img src="https://placeimg.com/400/225/arch" alt="Shoes" /></figure>
            <div class="card-body">
              <h2 class="card-title">
                Shoes!
                <div class="badge badge-secondary">NEW</div>
              </h2>
              <p>If a dog chews shoes whose shoes does he choose?</p>
              <div class="card-actions justify-end">
                <div class="badge badge-outline">Fashion</div> 
                <div class="badge badge-outline">Products</div>
              </div>
            </div>
          </div>
          <div class="card w-96 bg-base-100 shadow-xl">
            <figure><img src="https://placeimg.com/400/225/arch" alt="Shoes" /></figure>
            <div class="card-body">
              <h2 class="card-title">
                Shoes!
                <div class="badge badge-secondary">NEW</div>
              </h2>
              <p>If a dog chews shoes whose shoes does he choose?</p>
              <div class="card-actions justify-end">
                <div class="badge badge-outline">Fashion</div> 
                <div class="badge badge-outline">Products</div>
              </div>
            </div>
          </div>
          <div class="card w-96 bg-base-100 shadow-xl">
            <figure><img src="https://placeimg.com/400/225/arch" alt="Shoes" /></figure>
            <div class="card-body">
              <h2 class="card-title">
                Shoes!
                <div class="badge badge-secondary">NEW</div>
              </h2>
              <p>If a dog chews shoes whose shoes does he choose?</p>
              <div class="card-actions justify-end">
                <div class="badge badge-outline">Fashion</div> 
                <div class="badge badge-outline">Products</div>
              </div>
            </div>
          </div>
          <div class="card w-96 bg-base-100 shadow-xl">
            <figure><img src="https://placeimg.com/400/225/arch" alt="Shoes" /></figure>
            <div class="card-body">
              <h2 class="card-title">
                Shoes!
                <div class="badge badge-secondary">NEW</div>
              </h2>
              <p>If a dog chews shoes whose shoes does he choose?</p>
              <div class="card-actions justify-end">
                <div class="badge badge-outline">Fashion</div> 
                <div class="badge badge-outline">Products</div>
              </div>
            </div>
          </div>
          <div class="card w-96 bg-base-100 shadow-xl">
            <figure><img src="https://placeimg.com/400/225/arch" alt="Shoes" /></figure>
            <div class="card-body">
              <h2 class="card-title">
                Shoes!
                <div class="badge badge-secondary">NEW</div>
              </h2>
              <p>If a dog chews shoes whose shoes does he choose?</p>
              <div class="card-actions justify-end">
                <div class="badge badge-outline">Fashion</div> 
                <div class="badge badge-outline">Products</div>
              </div>
            </div>
          </div>
    </div>
</div>

<div class="section5">
    <div class="flex justify-between gap-5">
        <div (click)="navLeftArrow(activeContent[0].id)">
          <i class="fa fa-circle-arrow-left left-arrow"></i>
        </div>
        <div (click)="navRightArrow(activeContent[0].id)">
          <i class="fa fa-circle-arrow-right right-arrow"></i>
        </div>
        <div class="py-10 px-8 bg-white border-2 border-sky mx-auto w-2/5">
            <div class="flex">
              <img class="" src="{{ activeContent[0].image }}" alt="" />
              <div class="flex-1 pl-4 items-center">
                <h2 class="text-orange mb-2 font-bold text-2xl">{{activeContent[0].name }}</h2>
                <p class="text-grey font-medium">{{ activeContent[0].occupation }}</p>
              </div>
            </div>
            <p class="mt-4">{{ activeContent[0].details }}</p>
          </div>
      </div>
</div>