<div class="p-6 min-h-screen bg-[#c3c3c3]">
    <div class="mx-auto max-w-[400px]">
        <div class="text-4xl cursor-pointer" routerLink="/">trAvEl</div>
        <div class="bg-img h-[250px]"></div>

        <div class="font-bold text-4xl text-center mt-4 text-stone-600">Welcome to trAvEl</div>
        <div class="text-base mt-2 text-center text-stone-600">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum debitis, eum delectus commodi reiciendis voluptates.</div>

        <button routerLink="/auth/signup" class="block mx-auto px-4 py-2 mt-6 bg-stone-600 text-white rounded-lg">Get Started</button>
    </div>
</div>