<div class="p-6 min-h-screen bg-[#c3c3c3]">
    <div class="mx-auto max-w-[400px] relative">
        <div class="text-4xl cursor-pointer" routerLink="/">trAvEl</div>
        <div class="bg-img h-[250px]"></div>

        <form [formGroup]="loginForm" (ngSubmit)="login()"
            class="grid gap-4 w-full md:mt-4" 
            >
            <app-input-with-validation [control]="$any(loginForm.get('username')?.invalid && loginForm.get('username')?.touched)"
            
                [class]="'w-full outline-0 px-4 py-3 rounded-lg bg-stone-300'"
                [type]="'text'" [placeholder]="'username'"
            ></app-input-with-validation>
            <app-input-with-validation [control]="$any(loginForm.get('password'))"
                [class]="'w-full outline-0 px-4 py-3 rounded-lg bg-stone-300'"
                [type]="'password'" [placeholder]="'password'"
            ></app-input-with-validation>

            <button class="block mx-auto px-4 py-2 mt-6 bg-stone-800 text-white rounded-lg">Login</button>
        </form>    
        
        <div class="w-fit right-0 top-0 absolute">
            <div routerLink="/auth/signup" class="cursor-pointer underline">Sign Up</div>
        </div>
    </div>
</div>